@import "reset";

html, body { height: 100%; }

body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	line-height: 21px;
}

h1, h2, h3 { font-weight: 300; }

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.5em;
	background-color: #f06760;
	color: #fff;
	z-index: 10;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.05),
				0 1px 3px rgba(0,0,0,0.15);

	.title {
		max-width: 27em;
		margin: auto;
		padding: 1em;

		h1 {
			font-size: 1.5em;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		}
	}
}

main {
	position: absolute;
	top: 3.5em;
	width: 100%;

	.picker-container {
		max-width: 27em;
		margin: auto;
		padding: 1em;
		border-bottom: 1px solid #eee;
	}

	.picker-item-value {
		display: inline-block;
		padding: .5em;
		border: 1px solid #ccc;
		background-color: #fff;
		border-radius: 2px;
	}

	.palettes {
		max-width: 27em;
		margin: auto;
		padding: 1em;

		ul {
			list-style: none;
			padding: .5em 0;

			li {
				display: inline-block;
				height: 48px;
				width: 96px;
				margin: .25em .5em .25em 0;
				border-radius: 2px;
				padding: 1em;
				font-weight: 700;
				text-align: center;
				color: #fff;
				text-shadow: 0 0 3px rgba(0,0,0,0.5);
			}
		}
	}
}
